#title
  margin: 1.5rem 0
  text-align: left
  font-weight: bold
  font-size: 2rem

.stickyHeader
  position: sticky
  top: 64px
  z-index: 99
  font-size: 2rem !important
  font-weight: bold !important
  background-color: #1976d2
  color: white
  margin-top: 1rem
